

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sideNav {
  height: 100%;
  width: 130px;
  width: -moz-fit-content;
  position: absolute;
  z-index: 1 !important;
  background-color: white;
  padding: 0px;
  cursor: pointer;
}
.header {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  position: relative;
}
.header.Dark {
  background-color: black;
  color: white;
}

.sideNav.Dark {
  background-color: #3c394f;
  color: white;
}

.navElement.Dark :first-child {
  color: white;
}

.navElement.Dark.active,
.navElement.Dark:hover {
  background-color: darkgray;
}
.video {
  width: 80%;
}

.header.Dark {
  background-color: black;
  color: white;
}

.course-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}