@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div id="buttonContainer" class="col-15">
        <h1 class="display-4">sidebar</h1>
        
    </div>
    <div id="mainContainer" class="col-70">
        <h1>középső rész</h1>

    </div>
    <div id="rightSideBar" class="col-15">
        <h1>jobb oldal</h1>
    </div>
</div>